<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectProvisioningMode</key>
	<true/>
	<key>productionAppSecret</key>
	<string>kjy-Y9ssRkeXj2Bm4Y99UQ</string>
	<key>productionAppKey</key>
	<string>OWyfdcFjTXGG8IMm-ywevA</string>
	<key>developmentAppSecret</key>
	<string>hPy-33V8RzOdFiMywLonbw</string>
	<key>developmentAppKey</key>
	<string>qbcgkCrLQNmG7qNNDF9hcA</string>
	<key>inProduction</key>
	<true/>
</dict>
</plist>
